
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
        <div class="jumbotron">
        <h1>SAML Test Service</h1>
        <p>
            This application is designed to test SAML interaction with Entra ID. It includes the Service Provider and Metadata endpoints. 
            Even though this application isn't an Identity Provider, you can still test the IDP initiaded SSO flow.
        </p>
    </div>
</div> 